<%= content_for :page_title do %>
    Page8
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
  </head>
  <body>
  <%= video_tag "P8.ogv",autoplay: :autoplay,loop: :loop, mute: :mute, class: "home_video home-video-wrapper" %>
  

  <div style ="margin-left:12%;margin-top:28%">

        <%= image_tag("P8-1.png") %>
        <div id="wrapper" style="margin-top:-2.6%">
            <div class ="imagep8">
            <%= link_to image_tag("P8-2.png", :border=>0), :action => 'page8', :controller => 'pages', :class => 'hover' %>
            </div>
            <p class = "textp8-1 sans_source_bold" style ="color:#ffffff">
                To the past.
            </p>
        </div>
  </div>

  <div style ="margin-left:22%;margin-top:-3.8%">

  <%= image_tag("P8-1.png") %>
  <div id="wrapper" style="margin-top:-2.81%">
      <div class ="imagep8">
      <%= link_to image_tag("P8-2.png", :border=>0), :action => 'page8', :controller => 'pages', :class => 'hover' %>
      </div>
      <p class = "textp8-2 sans_source_bold" style ="color: #ffffff">
          My mind does not wander. It stays with me in the present time.
      </p>
  </div>
</div>

    <div style ="margin-left:70%;margin-top:-3.9%">

    <%= image_tag("P8-1.png") %>
    <div id="wrapper" style="margin-top:-7.6%">
        <div class ="imagep8">
        <%= link_to image_tag("P8-2.png", :border=>0), :action => 'page8', :controller => 'pages', :class => 'hover' %>
        </div>
        <p class = "textp8-3 sans_source_bold" style ="color: #ffffff">
            Fantasizing an impossible scenario.
        </p>
    </div>
    </div>



<div style ="margin-left:80%;margin-top:-2%">

    <%= image_tag("P8-1.png") %>
    <div id="wrapper" style="margin-top:-11.3%">
        <div class ="imagep8">
        <%= link_to image_tag("P8-2.png", :border=>0), :action => 'page8', :controller => 'pages', :class => 'hover' %>
        </div>
        <p class = "textp8-4 sans_source_bold" style ="color: #ffffff">
            To the future.
        </p>
    </div>
    </div>
  </body>
  </html>