<%= content_for :page_title do %>
    Page6
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
  
      <%= stylesheet_link_tag "styles" %>
    
      </head>
  <body style="background-color:#D4D4D4">
  <p class ="the sans_source" style="color:white"> O YOU </p>
  <div class="sans_source" style="font-size:20px;">
        <div> 
            <%= link_to "Depend on what I'm working on.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
            
        </div>
        <div>
            <%= link_to "Yes I always do my best.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
        </div>
        <div>
            <%= link_to "Not really.I'm quite laid-back.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
        </div>
        <div>
            <%= link_to "I work smart,not hard.", {:controller => 'pages', :action => "page7" },{:class => "p6-font" } %>
        </div>
    </div>
  </body>
  </html>