<%= content_for :page_title do %>
    Page5
  <% end %>
  <% content_for :javascript_includes do %>
  <%= javascript_include_tag "support.js" %>
<% end %>

<!DOCTYPE html>
<html>
<head>
<meta name="page5" content="width=device-width, initial-scale=1">
<style>
.myDiv {
  margin:0px;
  background-color: lightgrey;    
  text-align: center;
  height:83vh;
}
#rcorners {
    margin:0px;
    border-radius: 45px;
    background: #f2f2f2;
    width: 770%;
    height: 12vh;
  }
</style>
<%= javascript_include_tag 'support' %>
<%= stylesheet_link_tag "styles" %>
<%= javascript_include_tag "support" %>
<%= yield :javascript_includes %>
</head>
<body>
<script type = "text/javascript">


</script>
<div class="myDiv">
  <div style="padding-top: 5%">
  </div>
  <div id = "Message" style = "animation-name: expand-bounce; animation-duration: 0.8s;">
    Your best friend is talking behind your back. What would you do?
  </div>
  <div style="padding-top: 20%">
  </div>
  <div id="CryReply">
    Crawl up in bed and cry.
  </div>
  <div id="EvenReply" >
    I talk behind her/his back too so I guess we're even.
  </div>
  <div id="ConfrontReply">
    Confront her/him.
  </div>
  <div id="IntrospectReply">
    I do an introspection to realize my mistakes and flaws.
  </div>
</div>

<div class="row">
  <div id ="wrapper" class="colp5" style = "margin-top:2%; margin-left:2.5%" >
    <div id="Even" style="position:relative">
      <div style="position: absolute">
      <%= link_to image_tag("even hover.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5-red"} %>
      </div>
      <div style="position: absolute">
      <%= link_to image_tag("even.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5"} %>
      </div>
    </div>
    <div class="textp5-2">
    <p style="padding-left:55px"> I talk behind her/his back too so I guess we're even. </p>
    </div>
  </div>

  <div id ="wrapper" class="colp5" style = "margin-top:2%; margin-left:-0.3%" >
    <div id="Cry" style="position:relative">
      <div id="Cry" style="position: absolute">
      <%= link_to image_tag("cry hover.png",:size => "70x70",:onclick=>"coba()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5-red", :id => "Cry"} %>
      </div>
      <div id="Cry" style="position: absolute">
      <%= link_to image_tag("cry.png",:size => "70x70",:onclick=>"coba()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5", :id => "Cry"} %>
      </div>
    </div>
    <div class="textp5-2">
    <p style="padding-left:55px"> Crawl up in bed and cry. </p>
    </div>
  </div>

  <div id ="wrapper" class="colp5" style = "margin-top:2%; margin-left:0" >
    <div id="Confront" style="position:relative">
      <div style="position: absolute">
      <%= link_to image_tag("confront hover.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5-red", :id => "Confront"} %>
      </div>
      <div style="position: absolute">
      <%= link_to image_tag("confront.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5", :id => "Confront"} %>
      </div>
    </div>
    <div class="textp5-2">
    <p style="padding-left:55px"> Confront her/him. </p>
    </div>
  </div>

  <div id ="wrapper" class="colp5" style = "margin-top:1.5%; margin-left:0%" >
    <div id="rcorners">
    </div>
  </div>

  <div id ="wrapper" class="colp5" style = "margin-top:2%; margin-left:57.5%" >
    <div class="textp5-2">
    <p style="padding-left:55px"> I do an introspection to realize my mistakes and flaws. </p>
    </div>
    <div id="Introspect"style="position:relative">
      <div style="position: absolute">
      <%= link_to image_tag("introspect hover.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5-red"} %>
      </div>
      <div style="position: absolute">
      <%= link_to image_tag("introspect.png",:size => "70x70",:onclick=>"show3()"), {:action => 'page6', :controller => 'pages'}, {:class => "imagep5"} %>
      </div>
    </div>
    
  </div>
</div>

</body>
</html>