<%= content_for :page_title do %>
  Page 11
<% end %>
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body>
    <%= video_tag "P11.mp4",autoplay: :autoplay,loop: :loop, mute: :mute, class: "home_video home-video-wrapper" %>
    <div style="padding: 70px 0px 0px 0px">
        <div id = "wrapper" class="row">
            <div class="column11" style="position: relative; left: 65%; top: 0;">
                <%= link_to image_tag("P11-1.png", :class =>"combine"), :controller => 'pages',:action=>"page12",:class=>'hover' %>
                <%= link_to image_tag("P11-2.png", :class =>"imagep11"), :controller=>'pages',:action=> "page12",:class=>'hover' %>
            </div>
            <p class="link-text11 column11" style="position: relative; left: 30%; margin-top:1%;">
               The motivational quotes say yes.
            </p>
        </div>
        
        <div id = "wrapper" class="row">
            <div class="column11" style="position: relative; left: 65%; top: 0;">
                <%= image_tag("P11-1.png", :class =>"combine") %>
                <%= link_to image_tag("P11-2.png", :class =>"imagep11"),:controller=>'pages',:action=>"page12",:class=>'hover' %>
            </div>
            <p class="column11 link-text11" style="position: relative; left: 30%; margin-top: 1%;">
                No if our destiny is something else.
            </p>
        </div>
        <div id = "wrapper" class="row">
            <div class="column11" style="position: relative; left: 65%; top: 0;">
                <%= image_tag("P11-1.png", :class =>"combine") %>
                <%= link_to image_tag("P11-2.png", :class =>"imagep11"),:controller=>'pages',:action=>"page12",:class=>'hover' %>
            </div>
            <p class="column11 link-text11" style="position: relative; left: 30%; margin-top: 1%;">
                It's not that simple.
            </p>
        </div>
        <div id = "wrapper" class="row">
            <div class="column11" style="position: relative; left: 65%; top: 0;">
                <%= image_tag("P11-1.png", :class =>"combine") %>
                <%= link_to image_tag("P11-2.png", :class =>"imagep11"),:controller => 'pages',:action=>"page12",:class=>'hover' %>
            </div>
            <p class="column11 link-text11" style="position: relative; left: 30%; margin-top: 1%;">
                Human mind is a powerful tool.
            </p>
        </div>
    </div>
</body>
</html>