<%= content_for :page_title do %>
    PAGE 4
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
      
  </head>
  
  <body>     
  
    <%= video_tag "P4.ogv",autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video " %>

    <%= image_tag("Asset 3.png", :alt => "rss feed", :class => "center")  %>
    <%= button_to "", {:controller => 'pages', :action => "page5" }, {:alt => "rss feed", :class => "button-horizontal-top1" } %>
    <%= button_to "", {:controller => 'pages', :action => "page5" }, {:alt => "rss feed", :class => "button-horizontal-top2" } %>
    <%= button_to "", {:controller => 'pages', :action => "page5" }, {:alt => "rss feed", :class => "button-vertical-top1" } %>
    <%= button_to "", {:controller => 'pages', :action => "page5" }, {:alt => "rss feed", :class => "button-vertical-top2" } %>


  </body>
  </html>