<%= content_for :page_title do %>
    Page6
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
  
      <%= stylesheet_link_tag "styles" %>
    
      </head>
  <body style="background-color:#C7C6C1">
  <div style="padding-top:5%;">
  <p class ="the sans_source" style="font-size:4.35vmax;color:white">O YOU </p>
  <p class ="the sans_source blinkp6-1" style="font-size:4.35vmax;color:white"> DO YOU </p>
  <p class ="the sans_source" style="font-size:4.35vmax;color:white"> DO YOU DO YOU DO YOU DO YOU DO</p>
  <p class ="most sans_source" style="font-size:4.35vmax;color:white">R CONSIDER </p>
  <p class ="most sans_source blinkp6-2" style="font-size:4.35vmax;color:white"> CONSIDER </p>
  <p class ="most sans_source" style="font-size:4.35vmax;color:white">CONSIDER CONSIDER CON</p>
  <p class ="anything sans_source" style="font-size:4.35vmax;color:white"> URSELF YOURSELF YOURSELF </p>
  <p class ="anything sans_source blinkp6-3" style="font-size:4.35vmax;color:white"> YOURSELF </p>
  <p class ="anything sans_source" style="font-size:4.35vmax;color:white"> YOURSE</p>
  <p class ="the sans_source blinkp6-4" style="font-size:4.35vmax;color:white">D WORKING?</p>
  <p class ="the sans_source" style="font-size:4.35vmax;color:white"> HARD WORKING? HARD WORKING? H</p>
  <p class ="most sans_source" style="font-size:4.35vmax;color:white">U DO YOU DO YOU DO YOU DO YOU DO YOU </p>
  <p class ="most sans_source blinkp6-5" style="font-size:4.35vmax;color:white">DO YOU</p>
  <p class ="anything sans_source" style="font-size:4.35vmax;color:white">R</p>
  <p class ="anything sans_source blinkp6-6" style="font-size:4.35vmax;color:white"> CONSIDER </p>
  <p class ="anything sans_source" style="font-size:4.35vmax;color:white">CONSIDER CONSIDER CONSIDER CON</p>
  <p class ="the sans_source" style="font-size:4.35vmax;color:white">URSELF YOURSELF YOURSELF YOURSELF</p>
  <p class ="the sans_source blinkp6-7" style="font-size:4.35vmax;color:white"> YOURSEL</p>
  <p class ="most sans_source" style="font-size:4.35vmax;color:white">? HARD WORKING?</p>
  <p class ="most sans_source blinkp6-8" style="font-size:4.35vmax;color:white"> HARD WORKING?</p>
  <p class ="most sans_source"style="font-size:4.35vmax;color:white"> HARD WORKI</p>
  </div>
  <div class="sans_source row" style="font-size:2vmax;">
        <div class="column" style="text-align:right;padding-right:5%;padding-top:5%;padding-bottom:6%">
            <div> 
                <%= link_to "Depend on what I'm working on.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
                
            </div>
            <div style = "padding-top :4%">
                <%= link_to "Yes I always do my best.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
            </div>
        </div>
        <div class="column" style="text-align:left;padding-left:5%;padding-top:5%;padding-bottom:6%">
            <div>
                <%= link_to "Not really.I'm quite laid-back.", {:controller => 'pages', :action => "page7" }, {:class => "p6-font" } %>
            </div>
            <div style = "padding-top :4%">
                <%= link_to "I work smart,not hard.", {:controller => 'pages', :action => "page7" },{:class => "p6-font" } %>
            </div>
        </div>
    </div>
  </body>
  </html>