<%= content_for :page_title do %>
    PAGE 4
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
      
  </head>
  
  <body>     
  
    <%= video_tag "P4.ogv",autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video " %>
    <div style="position: relative; left: 0; top:0; bottom:0">
      <%= image_tag("Asset 3.png", :alt => "rss feed", :class => "center", :size => "868x868")  %>
      <div id="wrapper">
          <%= button_to " ", {:controller => "pages", :action => "page6" }, {:class => "button-vertical-top1" } %>
      </div>
      <p class="sans_source text-p4" style="z-index:3;font-size:20px">My retirement year.<p>
      <div class="row" style="position:relative">
        <div id="wrapper2" class="col3-left">
            <%= button_to " ", {:controller => "pages", :action => "page6" }, {:class => "button-horizontal-top1" } %>
        </div>
        <p class="sans_source text-p4-2 col3-left" style="z-index:5;font-size:20px">I am content with my<br>present condition.<p>
      <div>
      <div class="row" style="position:relative">
        <div id="wrapper3" class="col3-right">
            <%= button_to " ", {:controller => "pages", :action => "page6" }, {:class => "button-horizontal-top2" } %>
        </div>
        <p class="sans_source text-p4-3 col3-right" style="z-index:4;font-size:20px">To a time before I made the<br>biggest regret in my life.<p>
      </div>
      <div id="wrapper4">
          <%= button_to " ", {:controller => "pages", :action => "page6" }, {:class => "button-vertical-top2" } %>
      </div>
      <p class="sans_source text-p4-4" style="z-index:6;font-size:20px">When I was still happy.<p>
    </div>
  </body>
  </html>