<%= content_for :page_title do %>
    Page5
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
  </head>
  <body>
  <%= video_tag "P7.ogv",loop: :loop,autoplay: :autoplay, mute: :mute, class: "home_video home-video-wrapper" %>
    <div style ="margin-left:53%;margin-top:-1%">
        <div id="wrapper" style="margin-left:20%; margin-right: 70%">
            <div class="opacity00"> 
                <%= link_to image_tag("P7-1.png", :border=>0, :size=>"50x50"), :action => 'page8', :controller => 'pages', :class => 'hover' %>
            </div>
        </div>
        <p class = "text1 sans_source_bold" style ="color:#666666; margin-left:20%; margin-top:3%">
            Trying to come up with solution.
        </p>
    </div>

    <div style ="margin-left:7.5%;margin-top:7%">
        <div id="wrapper" style="margin-left:20%; margin-right: 70%">
            <div class="opacity00">
                <%= link_to image_tag("P7-2.png", :border=>0, :size=>"50x50"), :action => 'page8', :controller => 'pages', :class => 'hover' %>
            </div>
        </div>
        <p class = "text2 sans_source_bold" style ="color:#666666; margin-left:17%">
            I don't know.I'm too busy panicking.
        </p>
    </div>

    <div style ="margin-left:-2%;margin-top:25%">
        <div id="wrapper" style="margin-left:20%; margin-right: 90%">
            <div class="opacity00">
                <%= link_to image_tag("P7-1.png", :border=>0, :size=>"50x50"), :action => 'page8', :controller => 'pages', :class => 'hover' %>
            </div>        
        </div>

        <p class = "text3 sans_source_bold" style ="color:#666666; margin-left:17%">
            The good thing behind it.
        </p>
    </div>

    <div style ="margin-left:73%;margin-top:-11%">
        <div id="wrapper" style="margin-left:20%; margin-right: 70%">
            <div class="opacity00">
                <%= link_to image_tag("P7-2.png", :border=>0, :size=>"50x50"), :action => 'page8', :controller => 'pages', :class => 'hover' %>
            </div>
        </div>
        <p class = "text4 sans_source_bold" style ="color:#666666">
            Somewhere irrelevant.
        </p>
    </div>

  </body>
  </html>
