<%= content_for :page_title do %>
  Page3
<% end %>
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body>
    <div class="sans_source" style="padding: 300px 250px 0px 560px; font-size:25px;">
        <%= link_to "I'm nervous.", {:controller => 'pages', :action => "page3" }, {:class => "changecolor1" } %>
        <br>
        <br>
        <%= link_to "I can't really process what I'm feeling.", {:controller => 'pages', :action => "page3" }, {:class => "changecolor2" } %>
        <br>
        <br>
        <%= link_to "I'm excited!", {:controller => 'pages', :action => "page3" }, {:class => "changecolor3" } %>
        <br>
        <br>
        <%= link_to "I just want to finish this quickly.", {:controller => 'pages', :action => "page3" },{:class => "changecolor4" } %>
    </div>
</body>
</html>